//responsive
@import "./responsive";

html{
    @include responsive(phone){
        scroll-behavior: unset;
    }
    scroll-behavior: smooth;
}

body{
    margin: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    scroll-snap-type: y mandatory;

}
//Navbar
@import "./navbar";

//Footer
@import "./footer";
