@import "./responsive";

@import "./contentPhoto";
@import "./scroll-up";

iframe{
    width: 100% !important;
    height: 100% !important;
}

.mt-6{
    margin-top: 6rem;
    @include responsive(phone){
        margin-top: 4rem;
    }
}